body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background: #FFFCF4;
}


.content{
    width: 1170px;
    max-width: calc(100% - 135px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    min-width: 144px;
    padding: 11px 41px;
    background: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}
.btn:hover {
    opacity: 0.9;
}


/* Heading  */
.navbar {
    display: flex;
    align-items: center;
}

.navbar ul{
    display: flex;
    margin-left: 512px;
    gap: 42px;
}

.navbar ul a{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5F5B53;
}
.navbar .actions{
    margin-left: 70px;
}

.navbar .actions a{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #FFFFFF;
}


.hero{
    margin-top: 64px;
}
.hero .hero-img{
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

